* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
}

.caixalogo {
  display: flex;
  justify-content: space-between;
  width: 14%;
  align-items: center;
}

h1 {
  border: solid red;
  width: 95%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #4B5563;
}

.btnverdeheader {
  background-color: #21C05C;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 12px;
  border-radius: 6px;
}

.primeirasecction {
  border: solid red;
  background-color: #ffffff;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.primeirasecction section {
  border: solid green;
  width: 55%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.primeirasecction section h2 {
  font-size: 3.75rem;
  font-weight: 600;
  width: 70%;
  border: solid red;
}
.primeirasecction section p {
  font-size: 1.25rem;
  width: 70%;
  border: solid blue;
}

.boxBntsPrimeiraSection {
  border: solid purple;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.boxBntsPrimeiraSection button {
  cursor: pointer;
  padding: 20px 30px;
}

.produtosDisponiveis {
  background-color: #F3F5F8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
.produtosDisponiveis article {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.produtosDisponiveis article img {
  width: 100%;
}
.produtosDisponiveis article button {
  width: 45%;
  height: 5vh;
  margin-bottom: 1rem;
  background-color: #16a34a;
  color: #ffffff;
  font-weight: 900;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
}
.produtosDisponiveis article {
  border: solid red;
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.produtosDisponiveis article img {
  width: 100%;
  border: solid;
}
.produtosDisponiveis article button {
  width: 45%;
  height: 5vh;
  margin-bottom: 1rem;
  background-color: #16a34a;
  color: #ffffff;
  font-weight: 900;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
}
.produtosDisponiveis article {
  border: solid red;
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.produtosDisponiveis article img {
  width: 100%;
  border: solid;
}
.produtosDisponiveis article button {
  width: 45%;
  height: 5vh;
  margin-bottom: 1rem;
  background-color: #16a34a;
  color: #ffffff;
  font-weight: 900;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    height: 20vh;
  }
  .caixalogo {
    border: solid;
    width: 70%;
  }
  nav {
    border: solid;
    width: 100%;
  }
  nav a {
    font-size: 0.8rem;
  }
  nav .btnverdeheader {
    font-size: 0.8rem;
  }
  .primeirasecction {
    background-color: violet;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90vh;
  }
  .primeirasecction section {
    height: 50vh;
    background-color: #16a34a;
  }
  .primeirasecction section h2 {
    font-size: 1.5rem;
    width: 100%;
  }
  .primeirasecction section p {
    width: 100%;
  }
  .primeirasecction .boxBntsPrimeiraSection {
    width: 100%;
  }
  .primeirasecction .boxBntsPrimeiraSection button {
    padding: 20px 30px;
  }
  .produtosDisponiveis {
    flex-direction: column;
    background-color: pink;
    height: 140vh;
  }
  .produtosDisponiveis article {
    width: 60%;
    text-align: center;
  }
  .produtosDisponiveis article button {
    font-size: 1rem;
    width: 70%;
    font-weight: 300;
  }
}/*# sourceMappingURL=style.css.map */