*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:#ffffff;
    display: flex;
    // ativa as caixas flexiveis.
    //justify-content: flex-start; //é o padrão. os itens são postos no começo do eixo principal.
    //justify-content: flex-end; //os itens são postos no dfinal do eixo principal.
    //justify-content: center; //os itens são centralizados
    justify-content: space-around; //o espaço vazio antes do primeiro e do último são iguais aos espaços do meio.
    //justify-content: space-evenly; //o mesmo espaçamento entre os itens.
    //justify-content: space-between; //o primeiro item fica no começo do eixo e ultimo item fica no final do eixo.
    height: 10vh;
    align-items: flex-start; // Os itens são postos no começo do eixo y (vertical).
    align-items: flex-end; //Os itens são postos no final do eixo vertical;
    align-items: center; //Os itens são alinhados no meio do eixo y.
}

.caixalogo{
    //border: solid;
    display: flex;
    justify-content: space-between;
    width: 14%;
    align-items: center;
}

h1{
    border: solid red;
    width: 95%;
}
nav{
    //border: solid #ffffff;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    //pra espçar os itens, precisa de largura (width).
    align-items: center;
    

}
a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #4B5563;
}

.btnverdeheader{
    background-color:#21C05C;
    color:#ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
}

.primeirasecction{
    border: solid red;
    background-color: #ffffff;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    section{
        border:solid green;
        width: 55%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2{
            font-size: 3.75rem;
            font-weight: 600;
            width: 70%;
            border: solid red;
        }

        p{
            font-size: 1.25rem;
            width: 70%;
            border: solid blue;
        }
    }
}

.boxBntsPrimeiraSection{
    border: solid purple;
    width: 50%;
    display: flex;
    justify-content: space-around;

    button{
        cursor: pointer;
        padding: 20px 30px;
        
    }

}

.produtosDisponiveis{
    background-color: #F3F5F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;

    article{
        //border: solid red;
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: row; //padrão. Os itens sao organizados em fileiras (esquerda para direita)
        //flex-direction: row-reverse; //Os itens são organizaados em forma de linha (fileira) da direita para a esquerda.
        flex-direction: column; //os itens são organizados em coluna de cima para baixo
        //flex-direction: colum-reverse; //os itens são organizados em formas de colunas iniciando de baixo para cima.

        //justify-content: center;
        //justify-content: space-around;
        //justify-content: space-evenly;
        justify-content: space-between;

        align-items: center;

    img{
        width: 100%;
        //border: solid;
    }

    button{
        width: 45%;
        height: 5vh;
        margin-bottom: 1rem;
        background-color: #16a34a;
        color:#ffffff;
        font-weight: 900;
        border-radius: 15px;
        font-size: 1rem;
        cursor: pointer;

    }

    }

     article{
        border: solid red;
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: row; //padrão. Os itens sao organizados em fileiras (esquerda para direita)
        //flex-direction: row-reverse; //Os itens são organizaados em forma de linha (fileira) da direita para a esquerda.
        flex-direction: column; //os itens são organizados em coluna de cima para baixo
        //flex-direction: colum-reverse; //os itens são organizados em formas de colunas iniciando de baixo para cima.

        //justify-content: center;
        //justify-content: space-around;
        //justify-content: space-evenly;
        justify-content: space-between;

        align-items: center;

    img{
        width: 100%;
        border: solid;
    }

    button{
        width: 45%;
        height: 5vh;
        margin-bottom: 1rem;
        background-color: #16a34a;
        color:#ffffff;
        font-weight: 900;
        border-radius: 15px;
        font-size: 1rem;
        cursor: pointer;

    }

    }

     article{
        border: solid red;
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: row; //padrão. Os itens sao organizados em fileiras (esquerda para direita)
        //flex-direction: row-reverse; //Os itens são organizaados em forma de linha (fileira) da direita para a esquerda.
        flex-direction: column; //os itens são organizados em coluna de cima para baixo
        //flex-direction: colum-reverse; //os itens são organizados em formas de colunas iniciando de baixo para cima.

        //justify-content: center;
        //justify-content: space-around;
        //justify-content: space-evenly;
        justify-content: space-between;

        align-items: center;

    img{
        width: 100%;
        border: solid;
    }

    button{
        width: 45%;
        height: 5vh;
        margin-bottom: 1rem;
        background-color: #16a34a;
        color:#ffffff;
        font-weight: 900;
        border-radius: 15px;
        font-size: 1rem;
        cursor: pointer;

    }

    }
}



//Responsivo
//Smarphone max: 500px

//Estrutura com limitador, minimo de pxe max de px
//@media(min-width: ;) and (max-width: ;) {

//}


//Quero que você aplique esse estilo em telas de 0px até 500px

@media(max-width: 500px){

    header{
        display:flex; //não faz diferença aqui pq já tem lá em cima, mas vou deixar
        flex-direction: column;
        height: 20vh;

    }

    .caixalogo{
        border: solid;
        width: 70%;
    }
    nav{
        border: solid;
        width:100%;

        a{
            font-size: 0.8rem;
        }

        .btnverdeheader{
            font-size: 0.8rem;
        }
    }

    // --------primeira section-----

    .primeirasecction{
        background-color: violet;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 90vh;

        section{

            height: 50vh;
            background-color: #16a34a;
            h2{
                font-size: 1.5rem;
                width: 100%;

            }

            p{
                width: 100%;

            }
        }

        .boxBntsPrimeiraSection{
            width: 100%;

            button{
                padding: 20px 30px;
            }

            img {

                width: 50%;
        }

    }



    //section produtos disponiveis

    .produtosDisponiveis{
        flex-direction: column;
        background-color: pink;
        height: 140vh;

    

    article{
        width: 60%;
        text-align: center;

 
        button{
            font-size: 1rem;
            width: 70%;
            font-weight: 300;
        }
    }
}
}
